* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Vilane Regular';
  src: url(/assets/fonts/Vilane\ Regular.woff) format('woff');
  src: url(/assets/fonts/Vilane+Regular.woff2) format('woff2');

  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #FBF8F4;
}

.navbar4_container {
  margin-top: 25px;
  margin-left: 50px;
}

.bar_prod {
  margin-left: 725px;
  margin-top: -40px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.bar_prod a {
  color: #D70D0F;
  font-weight: 600;
  text-decoration: none;
}

.bar_marca {
  margin-left: 868px;
  margin-top: -22px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.bar_marca a {
  color: #D70D0F;
  font-weight: 600;
  text-decoration: none;
}

.bar_combo {
  margin-left: 984px;
  margin-top: -22px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.bar_combo a {
  color: #D70D0F;
  font-weight: 600;
  text-decoration: none;
}

.cart {
  margin-top: -30px;
  margin-left: 1750px;
}

.login {
  margin-top: -30px;
  margin-left: 1800px;
}

.name_center {
  margin-left: 800px;
  margin-top: 250px;
}

h1 {
  font-size: 90px;
  font-family: 'Vilane Regular', sans-serif;
  font-weight: 200;
  color: #FFC600;
}

.sname_center {
  margin-left: 800px;
  margin-top: -25px;
}

h3 {
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  color: #D70D0F;
}

.slogan {
  width: 250px;
  margin-left: 150px;
  margin-top: 290px;
}

h2 {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #D70D0F;
}

.search_box {
  margin-top: 20px;
  margin-left: 660px;
  opacity: 60%;
  display: flex;
}

.search {
  width: 450px;
  height: 50px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  padding-left: 30px;
  box-sizing: border-box;
  outline: none;
}

.search::placeholder {
  opacity: 50%;
  font-size: 15px;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: none;
  background: #D9D9D9;
  text-align: center;
  color: #D9D9D9;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 0px 0px;
}

/* Cartões de produto */
.card {
  background-color: #FFEFD9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 300px;
  margin: 80px auto;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 80%;
  object-fit: cover;
  margin-left: 30px;
}

.divisor-red {
  border: 0;
  border-top: 1px solid #D70D0F;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0;
  font-size: 15px;
  width: 150px;
  color: black;
  margin-left: 50px;
  text-align: center;
  font-weight: 500px;
}

.card-text {
  margin: 15px 0;
  font-size: 25px;
  color: black;
  margin-left: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFEFD9;
  color: #D70D0F;
  text-decoration: none;
  border-radius: 15px;
  margin-left: 65px;
  border: 2px solid #D70D0F;
  transition: background-color 0.2s;
  font-weight: bold;
}

.txt-combo {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #D70D0F;
  margin-left: 150px;
  margin-top: 100px;
  /* margin-bottom: 100px; */
}

.divisor-final {
  margin: 0px 400px;
  border: 0;
  border-top: 1px solid #D70D0F;
}

.logo {
  margin-left: 200px;
  margin-top: 90px;
}

.enterprise {
  margin-left: 600px;
}

.enterprise-text {
  margin-top: -230px;
  font-size: 30px;
  font-family: 'Vilane Regular', sans-serif;
  color: #D70D0F;
  font-weight: 200;
}

.aboutus {
  text-decoration: none;
}

.text-aboutus {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 26px;
  color: black;
  opacity: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.icon-social {
  margin-left: 630px;
  margin-top: 30px;
}

.fa {
  opacity: 50%;
  padding-right: 25px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: 700px;
  margin-bottom: 50px;
}

.info a {
  margin: 0 10px;
  text-decoration: none;
  opacity: 50%;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.info span {
  margin: 0 5px;
  color: #999;
}