* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Vilane Regular';
  src: url(../assets/fonts/Vilane\ Regular.woff) format('woff');
  src: url(../assets/fonts/Vilane+Regular.woff2) format('woff2');
}

.account {
  margin-right: 150px;
  margin-top: 100px;
  text-align: center;
}

.myaccount h1 {
  font-size: 30px;
  font-family: 'Vilane Regular', sans-serif;
  color: black;
}

.maccount {
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Vilane Regular', sans-serif;
}

.card {
  background-color: #FFEFD9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  transition: transform 0.2s;
  margin-top: 20px;
  margin-left: 690px;
}

.box-input {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.box-input input {
  width: 280px;
  margin-bottom: 10px;
  padding: 13px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Roboto' sans-serif;
  font-weight: lighter;
  outline: none
}

input::placeholder {
  opacity: 30%;
}

.button_revela {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: -43px;
  margin-left: 100px;
}

.button_revela i {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  padding: 15px 30px;
  border-radius: 15px;
  border: none;
  background-color: #FFC600;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.nao-cad {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #818181;
  margin-top: 20px;
}

.icon-logo {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 180px;
}